.padd {
    padding: 1em;
}
.bor {
  border: solid 5px rgba(255, 0, 0, 0);
  size-adjust: 50%;
}
.borimg {
  border: solid 5px rgb(0, 255, 221);
  border-radius: 15em;
  size-adjust: 50%;
}
.mx-auto {
  display: flex;
  align-items: center; 
  justify-content: center; 
}
.mx-autos {
  display: flex;
  flex-direction: column; 
  justify-content: center;
}
.white-icon {
  filter: brightness(0) invert(0);
}

-----------------------------------------------
/
#logo			{text-align:left; padding-top:20px;}
		#whole950		{width:950px; margin:0 auto 10px auto; padding-bottom:30px;}
		#whole950 p		{line-height:1.6; color:#999999;}
		.whole_cv_us	{background-color:#1e201f; position:relative; border:1px solid #cccccc; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; box-shadow:0px 0px 8px #757575; -moz-box-shadow:0px 0px 8px #757575; -ms-box-shadow:0px 0px 8px #757575; -o-box-shadow:0px 0px 8px #757575;}
		.pages			{padding:18px 65px 0 65px; text-align:left;}
        h1				{color:#ee286e; font:normal 26pt/1.4 Arial, Helvetica, sans-serif; margin-top:5px; padding-top:30px;}
        h2				{color:#ee286e; font:normal 18pt/1.4 Arial, Helvetica, sans-serif; margin-top:15px; padding-top:30px;}
        h3				{color:#ffffff; font:normal 16pt/1.4 Arial, Helvetica, sans-serif; margin-top:15px; padding-top:35px;}

        span			{font-weight:bold; color:#ffffff;}

        .ctn1 p			{color:#ffffff !important; font-size:18px; margin-top:15px; padding-right:280px; }
        .ctn2 p			{margin-top:5px; padding-right:350px;}
        .ctn3 span		{font-size:13pt; color:#ee286e;}
        .ctn4 p			{font-size:12px; margin-top:5px;}

        .fact p:before	{content:"■"; margin-right:3px;}

		.profile		{width:100%; margin-top:30px; padding-top:15px; border-top:1px dotted #666666;}
		.profile .title	{font-size:14pt; font-weight:bold; color:#FFFFFF; margin:10px 0 5px 0;}
		.profile p		{padding:4px 10px;}

		.software		{width:100%; margin-top:30px; padding-top:15px; border-top:1px dotted #666666; border-bottom:1px dotted #666666;}

    