<!DOCTYPE html>

{% extends "hm_app/base.html" %}
{% load static %}

{% block title %}Hatsune Miku - Crypton Future Media{% endblock %}
{% block nav_home_active %}active{% endblock %}

{% block body_block %}

<!--
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Miku</title>
</head>
<body>
-->
    <br />
    <div style="width:950px; margin:0 auto; text-align:center;">
    	<div id="logo"><img src="https://ec.crypton.co.jp/img/siteid01.gif" width="168" height="56" border="0"></a></div>
	</div>

    <div id="whole950" class="whole_cv_us">		
        <div class="pages">
            
        <!--Who is Hatsune Miku?-->
            <div class="ctn1">
                <h1>¿Quien is Hatsune Miku?</h1>

                <p>Ella es un <span>sintetizador de voz cantante presente en más de 100.000 canciones</span> lanzadas alrededor del mundo.<br />
                Hatsune Miku significa (Por su traduccion del Japones) "El Primer Sonido del Futuro".</p>
            </div>


        <!--Facts-->
            <div class="ctn2 fact">
                <h2>Datos</h2>

                <p>Más de 100.000 canciones lanzadas, 170.000 vídeos subidos a YouTube, 1.000.000 de obras de arte creadas.</p>
                <p><span>Más de 900.000 fans en Facebook</span></p>
                <p>Realización de <span>Conciertos 3D con entradas agotadas en todo el mundo.</span> con actuaciones en LA, Taipei, Hong Kong, Singapore, Tokyo</p>
                <p>Colaboraciones corporativas con SEGA, Toyota USA, Google y muchos mas</p>
            </div>


        <!--The Hatsune Miku Phenomenon-->
            <div class="ctn2">
                <h2>El fenómeno Hatsune Miku</h2>

                <p>Hatsune Miku ha recorrido un camino interesante desde producto de sintetizador vocal hasta <span>celebridad cibernética construida de forma colaborativa con una comunidad de usuarios en crecimiento</span> en todo el mundo.
                También se la llama a menudo un icono global o "centro" porque la cultura a su alrededor anima a una comunidad creativa mundial a producir y compartir contenido relacionado con Miku.
                Con el aumento de los trabajos de remix y la creciente demanda global, Crypton Future Media, INC. se involucra conscientemente en la <span>promoción, apoyo y cultivo de la comunidad Hatsune Miku</span>. Se abrieron como servicios web PIAPRO.jp, una plataforma de medios centrada en el consumidor donde los usuarios pueden colaborar y compartir sus ideas, y el sello digital centrado en el usuario <span>KARENT</span>. En 2012, Crypton decidió adaptar la "Licencia Creative Commons CC BY-NC" a las ilustraciones originales de Hatsune Miku para apoyar las actividades creativas abiertas en todo el mundo.</p>
            </div>


        <!--Profile-->
            <div class="profile">
                <div class="title">Profile</div>
                <table border="0" cellpadding="0" cellspacing="1" style="background-color:#666666; width:460px; margin-left:3px;">
                    <tr>
                        <td style="background-color:#1e201f; color:#FFFFFF;"><p>Edad</p></td>
                        <td style="background-color:#1e201f; color:#FFFFFF;"><p>16</p></td>
                        <td style="background-color:#1e201f; color:#FFFFFF;"><p>Generos Favoritos</p></td>
                        <td style="background-color:#1e201f; color:#FFFFFF;"><p>J-Pops, Dance-Pops</p></td>
                    </tr>
                    <tr>
                        <td style="background-color:#1e201f; color:#FFFFFF;"><p>Altura</p></td>
                        <td style="background-color:#1e201f; color:#FFFFFF;"><p>158cm</p></td>
                        <td style="background-color:#1e201f; color:#FFFFFF;"><p>Tempo Favorito</p></td>
                        <td style="background-color:#1e201f; color:#FFFFFF;"><p>70～150BPM</p></td>
                    </tr>
                    <tr>
                        <td style="background-color:#1e201f; color:#FFFFFF;"><p>Peso</p></td>
                        <td style="background-color:#1e201f; color:#FFFFFF;"><p>42kg</p></td>
                        <td style="background-color:#1e201f; color:#FFFFFF;"><p>Mejor Rango Vocal</p></td>
                        <td style="background-color:#1e201f; color:#FFFFFF;"><p>A3-E5</p></td>
                    </tr>
                </table>
            </div>


        <!--Software-->
            <div class="software">
                <div class="float_l" style="width:120px;"><img src="https://ec.crypton.co.jp/img/special/vocaloid/cvs/box_miku.jpg" width="100" height="236" border="0" /></div>
                <div class="float_l" style="width:360px;"><img src="https://ec.crypton.co.jp/img/special/vocaloid/shot_eng.jpg" width="207" height="170" border="0" /></div>
                    <p class="em mt10" style="color:#ffffff;">HATSUNE MIKU<br><a href="https://ec.crypton.co.jp/pages/prod/virtualsinger/vocaloid_editor">Mas Informacion acerca del Software VOCALOID2</a></p>
                </div>
                <div class="clear_plain"></div>
            </div>

		<div style="position:absolute; top:105px; right:-55px; width:462px; height:710px;"><img src="https://ec.crypton.co.jp/img/special/vocaloid/img_MIKU_us.png" alt="HATSUNE MIKU" width="462" height="710" border="0" class="png" /></div>
		<div style="position:absolute; top:1165px; right:25px; width:291px; height:155px;"><img src="https://ec.crypton.co.jp/img/special/vocaloid/logo_miku_us.png" width="250" height="127" border="0" class="png" /></div>
	</div>

    <!--<div class="section">
        <h2>VOCALOID Productores</h2>
        {% if producers %}
        
            <table class="table table-hover">
                <thead>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>País</th>
                    <th>Genero(s)</th>
                    <th>Canción Mas Reciente</th>
                    <th>Canción Mas Popular</th>
                    <th>Status</th>
                    <th>Redes</th>
                </thead>
                <tbody>
                    {% for producer in producers %}
                        <tr>                        
                            <td>{{producer.name}}</td>
                            <td>{{producer.age}}</td>
                            <td>{{producer.country}}</td>
                            <td>{{producer.genre}}</td>
                            <td>{{producer.last_song}}</td>
                            <td>{{producer.popular_song}}</td>
                            <td>{{producer.status}}</td>
                            <td><a href="{{ producer.twitter_link }}"><img src="{% static 'img/twitter.svg' %}">{{ producer.twitter_username }}</a></td>
                            <td><a href="{{ producer.youtube_link }}"><img src="{% static 'img/youtube.svg' %}">YouTube</a></td>
                            <td><a href="{{ producer.niconico_link }}"><img src="{% static 'img/nnd.svg' %}">Nico Nico Douga</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Not Producers Here ⊙﹏⊙∥</p>
        {% endif %}
    </div>-->

    <!--<div class="section">
        <h2>VOCALOID Productores</h2>
        {% if producers %}
            {% for producer in producers %}
                <div class="producer-container">
                    <div class="producer-info">
                        <h3>{{ producer.name }}</h3>
                        <p><strong>País:</strong> {{ producer.country }}</p>
                        <p><strong>Género(s):</strong> {{ producer.genre }}</p>
                        <p><strong>Canción Más Reciente:</strong> {{ producer.last_song }}</p>
                        <p><strong>Canción Más Popular:</strong> {{ producer.popular_song }}</p>
                        <p><strong>Status:</strong> {{ producer.status }}</p>
                    </div>
                    <div class="producer-image">
                        <img src="{% static 'img/mikuico.png' %}" alt="{{ producer.name }}">
                    </div>
                    <div class="producer-social">
                        <h4>Redes Sociales</h4>
                        <ul>
                            {% if producer.twitter_username %}
                                <li><a href="{{ producer.twitter_link }}"><img src="{% static 'img/twitter.svg' %}"> Twitter</a></li>
                            {% endif %}
                            {% if producer.youtube_channel_id %}
                                <li><a href="{{ producer.youtube_link }}"><img src="{% static 'img/youtube.svg' %}"> YouTube</a></li>
                            {% endif %}
                            {% if producer.niconico_user_id %}
                                <li><a href="{{ producer.niconico_link }}"><img src="{% static 'img/nnd.svg' %}"> Nico Nico Douga</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>¡No hay productores aquí! ⊙﹏⊙∥</p>
        {% endif %}
    </div>-->

    {% endblock %}
<!--
</body>
</html>
-->